<%if post %>  
        <div class="card z-depth-2">
        <div class="card-action">
        <a href ="profile/<%= user.name%>/<%= user.id%>" >
        <div class="profile_pic">
       <span><%= image_tag user.profileImage %></span>
       <span id="postname"><%= user.name %></span>
        </div>
        </a>
        </div>
          <% if post.image.present? %>
            <div class="card-image">
              <%= image_tag post.image_url(:main).to_s  %> 
            </div>
            <%end%>
             <% if post.video.present? %>
            <div class="card-image">
              <%= video_tag post.video_url.to_s , size: "542x302" , controls: true , autobuffer: true , loop: true , autoplay: false , id: "video#{post.id}" %> 
            </div>
            <%end%>
            <div class="card-content">
              <p id="post-content"><%= post.content %></p>
            </div>
            <div class="card-action">
                 <% if post.likes.where(user_id: current_user.id).length > 0 %>
                   <%= link_to "liked", url_for(controller: :home, action: :like_remote, post_id: post.id),method: :post, id: "post_#{post.id}" , remote: true ,:class =>"fa fa-star"  %>
                 <% else %>
                    <%= link_to "like", url_for(controller: :home, action: :like_remote, post_id: post.id), method: :post, id: "post_#{post.id}" , remote: true  ,:class =>"fa fa-star-o"%>
                 <% end %>
                 <%= link_to "comment", url_for(controller: :home , action: :comment_remote , post_id: post.id) , method: :post , remote: true %>
            </div>
<%end%> 

      <div id="comment<%= post.id %>">
     </div>
    </div>