<% if current_user %>
<div class="globalcontainer">
<div class="extra-content">
   <div class="who-to-follow z-depth-2 ">
     <div class="trend-follow">
     <div><h4 id="to-follow">Who to Follow</h4></div>
     <div><a class="refresh" href="#!">Refresh</a></div>
     <div><a class="see-all" href="#!">see all</a></div>
     </div>
      <div class="Follow-trend">
      <% @users.each do |user| %>
        <div class="profile-pic">
        <span><%= image_tag user.profileImage %></span>
       <span id="follow-name-trend">
       <a href ="profile/<%= user.name %>/<%= user.id%>" ><%= user.name %></a></span>
        <% if  FollowMapping.where(follower_id: current_user.id , followee_id: user.id).length > 0  %>
        <%= link_to "following" , url_for(controller: :home , action: :follow_remote , followee_id: user.id) , method: :post , id: "follow_#{user.id}" , remote: true , :class => "follow-btn2" %>
        <% else %>
        <%= link_to "follow" , url_for(controller: :home , action: :follow_remote , followee_id: user.id) , method: :post , id: "follow_#{user.id}" , remote: true  , :class => "follow-btn1" %>
        <% end %>
        </div>
      <%end%>
  </div>
  <hr>
  <div class="people-know1"><a class="people-know" href="#!"><i class="fa fa-users" aria-hidden="true"></i>People you may know</a>
  </div>
  </div> 
  <div class="local-foot z-depth-2">
    <div class="one">
      <div class="copyright">&copy CrowdCircle 2017</div>
      <div class="about-us">About</div>
      <div class="tutorial">Tutorial</div>
      <div class="terms">Terms</div>
      </div>
      <div class="two">
      <div class="privacy-policy">Privacy policy</div>
      <div class="add-info">Add info</div>
      <div class="status">Status</div>
      <div class="app">App</div>
      <div class="help-center">Help center</div>
    </div>
    <hr id="hr">
    <div id="Add">
         <a class="Ad"><i class="fa fa-rocket" aria-hidden="true"></i>Advertise with Crowd Circle </a>
    </div>
   </div>
</div>
<div class = "col">
   <div class="uploadform z-depth-1">
  <%= form_for @post , url: 'create_post_remote',id: 'myForm', html: { multipart: true } , remote: true do |f| %>
  <div class="textinput"><%= f.text_field :content , placeholder: "New Post" , id: "text_field" , required: true%></div>
  <div class="upload">
  <span class="btn btn-warning btn-file">
    <i class="fa fa-camera fa-2x" aria-hidden="true"></i>
  <%= f.file_field :image  , accept: 'image/png,image/gif,image/jpeg' , id: "file_field" %>
  </span>
  <div class="myBtn"><%= submit_tag 'post', :class =>"waves-effect waves-light btn" %></div>
  <%end%>
  </div>
  <div  class ="container">
  <div class ="card-image" id="showImage">
  </div>
  <a class="btn-floating btn-large waves-effect waves-light red" id="deleteImage" style = "display: none"><i class="material-icons">delete</i></a>
  </div>
	</div> 
	<div class = "posts" id="posts">
	<% @posts.each do |post| %>
  <%= render 'post' , :post => post , :user => User.find(post.user_id) %>
  <%end%>
  </div>
  </div>
<div class = "container1 z-depth-2">
 <div class="Follow">
      <% @users.each do |user| %>
        <a href ="profile/<%= user.name %>/<%= user.id%>" >
        <div class="profile_pic">
        <span><%= image_tag user.profileImage %></span>
       <span id="follow-name"><%= user.name %></span>
        </div>
        </a>
<!--       <% if  FollowMapping.where(follower_id: current_user.id , followee_id: user.id).length > 0  %>
        <%= link_to "unfollow" , url_for(controller: :home , action: :follow_remote , followee_id: user.id) , method: :post , id: "follow_#{user.id}" , remote: true , :style => 'color: red;' %>
        <% else %>
        <%= link_to "follow" , url_for(controller: :home , action: :follow_remote , followee_id: user.id) , method: :post , id: "follow_#{user.id}" , remote: true  , :style => 'color: red;' %>
        <% end %>  -->
      <%end%>
  </div> 
</div>
</div>
<!--  <div class = "container"> 
<footer class="page-footer blue z-depth-4">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">CrowdCircle</h5>
                <p class="grey-text text-lighten-4">Prince & Kunal</p>
              </div>
              <div class="col l4 offset-l2 s12">
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            &copy; 2017 Copyright
            <a class="grey-text text-lighten-4 right" href="#!">Terms</a>
            </div>
          </div>
</footer>
<%end%>
</div> -->


